<form method="POST" action="../sitemap">
    <input type="hidden" name="parentid" value="{{parentid}}">
    <label for="endpoint">Endpoint</label>
    <input type="text" name="endpoint" required>


    <input type="submit">Creer le endpoint</input>
</form>