<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      

      <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />


      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



  </head>
  <body>
    <div id="app">
      <div class="tree-container">
          <h1>Sitemap Rendering</h1>
          <div id="tree-root" class="tree">
              <ul>
                  <li>
                      <div class="endpoint"><h3>Site Index</h3></div>
                      <ul>
                          <li>
                              <midnight-endpoint></midnight-endpoint>
                             
                          </li>
                        
                      </ul>
                  </li>
              </ul>
          </div>
      </div>


    </div>
    
  </body>
  
  <script src="https://unpkg.com/vue"></script>
  <script src="/javascripts/admin.js"></script>
</html>
