body {
  padding: 50px;
  font-family: 'Poiret One', cursive;
}

a {
  color: #00B7FF;
}





/*treeview css*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ 
	padding-top: 0;
	/*width: 100%;*/
    text-align: center;
	
	}
#tree-root > ul > li:only-child {
	width: auto;
}
.tree li:only-child.adder{
	width: 100%;
    padding-left: 0px;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li .endpoint{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li .round-btn{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	z-index: 9999;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	border-radius: 50%;
	
}
.tree li .round-btn:hover{
	background: #d04fcf; color: white; border: 1px solid white;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li .endpoint:hover, .tree li .endpoint:hover+ul li .endpoint {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li .endpoint:hover+ul li::after, 
.tree li .endpoint:hover+ul li::before, 
.tree li .endpoint:hover+ul::before, 
.tree li .endpoint:hover+ul ul::before{
	border-color:  #94a0b4;
}

.endpoint > h3{
	margin: 5px 0;
    font-size: 1.4em;
}
.endpoint > div > div {
	margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #E3E3E3;
	width: 100%;
	text-align:left;
}

.endpoint > div > div > span {
	font-size: 1.1em;
    font-weight: bold;
}
.endpoint > div > div > div > .param_name {
	font-weight: bold;
}
.endpoint > div > div >  div {
	margin: 5px;
}

.parameters > div {
	margin-left: 5px;
}

.phantom{
	opacity: 0.4;

}




/* animation type ripple */
@-webkit-keyframes
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 100px;
 height: 100px;
 margin-left: -30px;
 margin-top: -30px;
 opacity: 0.0;
}
}

@-moz-keyframes
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 100px;
 height: 100px;
 margin-left: -30px;
 margin-top: -30px;
 opacity: 0.0;
}
}

@-o-keyframes
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 position: relative;
}
 100% {
 width: 100px;
 height: 100px;
 margin-left: -30px;
 margin-top: -30px;
 opacity: 0.0;
}
}

@keyframes
click-wave { 0% {
 width: 40px;
 height: 40px;
 opacity: 0.35;
 
}
 100% {
 width: 100px;
 height: 100px;
 margin-left: -30px;
 margin-top: -30px;
 opacity: 0.0;
}
}
.drag-cible{
	position:relative;
}
.drag-cible::before{
	z-index: -1;
	content: '';
	width: 40px;
 	height: 40px;
	opacity:0;
	border-radius: 50%;
	position: absolute;
	left:50%;
	transform: translate(-20px);
	background-color: #5cb85c;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.drag-reactive .drag-cible::before{
	animation-name: click-wave;
}
.stop-drag + ul .drag-cible::before{
	animation-name: none!important;
}

.tree-container{
	overflow: visible;
}
#tree-root::after{
	overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}